html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    object-fit: cover;
}
button{
    cursor: pointer;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    max-width: 1290px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}



/* =====HEADER-START====== */

/* header-top */
.header_top__container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.laguage {
    border: none;
    outline: transparent;
}

.valyuta {
    border: none;
    outline: transparent;
}
.links {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}
.user_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile__link {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.material-symbols-outlined {
    margin-left: 5px;
}
.profile {
    color: black;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #262626;
font-size: 20px;
font-weight: 400;

}
.shop_box  {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__item{
    position: absolute;
    top: 0;

    font-size: 12px;
    background-color: red;
    padding:2px;
    color:white;
    border-radius: 50px;
    margin-right: 5px

}
.price__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop_link {
    color: black;
}

.top__price {
    opacity: 0.5;
    color: #262626;
font-size: 20px;
font-weight: 400;
}

@media (max-width: 600px) {
    .profile{
        display: none;
    }
    .price__box{
        display: none;
    }
    .valyuta{
        display: none;
    }
}

/* header-top */

/* nav  */


.nav__container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 26px;
    padding-bottom: 26px;
}
.burger__btn{
    display: none;
    background-color:transparent;
    border: transparent;
    outline: none;

}
.burger__span{
    color:#40BFFF;
}

.logo_img {
    max-width: 135px;
}
.nav_list {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 70px;
}
.item__link {
    color: #262626;
font-size: 20px;
font-weight: 500;

}
.active__item{
    color: #40BFFF;;

}
@media (max-width:922px) {
    .nav_list{
        gap: 40px;
    }
    .item__link{
        font-size: 16px;
    }
    
}

@media (max-width:666px) {
.burger__btn{
    display: block;
}
.nav_list{
    display: none;
}
.logo_img{
    width: 100px;
}
    
}

/* nav  */

/* ======HEADER-END====== */

/* /=/=/=/=/=//=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/= */



/* =====HERO-START===== */

/* banner */
.hero{
    background-image: url(./img/banner_img.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.hero__container {
}

.hero__title_box {
    padding-top: 250px;
    padding-bottom: 160px;
    max-width: 573px;

}
.hero__title {
    color: #FFF;
font-size: 64px;
font-weight: 700;
line-height: 150%; /* 96px */
letter-spacing: 0.5px;
}

/* banner  */

/* recomend */

.product__rec {
    margin-top: -100px;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8px;
}
.cart__rec_box {
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    background-color:#bbe3f1;
    transition: 0.3s ease;
}

.cart__rec_box:hover{
    background: var(--image-product-woman-bag-3, url(<path-to-image>), lightgray 0px -157.77px / 100% 150% no-repeat);
    /* background-color:white; */
}
.rec__img{
    width: 100%;
}
.rec__title {
    color:  #223263;
font-size: 18px;
font-weight: 700;
line-height: 150%; /* 30px */
    max-width: 100%;
}
.rec_price_box {
    display: flex;
    align-items:center;
    justify-content: space-between;
    

}
.padding_link{
    padding: 15px;
}
.rec__sup{

    color: #9098B1;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: 0.5px;
    text-decoration-line: strikethrough;
    text-decoration: line-through;
}
.red_cheg {
    color:  #FB7181;
font-size: 18px;
font-weight: 700;
line-height: 150%; /* 27px */
letter-spacing: 0.5px;
}
.rec_price {
    color:  #40BFFF;
font-size: 30px;
font-weight: 700;
line-height: 180%; /* 54px */
letter-spacing: 0.5px;
}

@media (max-width:868px) {
    
    .hero__title{
        font-size: 40px;
    }
.hero{
    background-image: url(./img/responsive.png);
    background-position: 100%;
    background-repeat: no-repeat;
    
    background-position:center;
    background-size: cover;
    /* height: 650px; */
}

}
@media (max-width:738px) {

    .recomnd{
        display: none;
    }
    
}
@media (max-width:614px) {

     .hero__title{
        font-size: 28px;
        max-width: 320px;
    }
}




/* =====HERO-END===== */


/* =====PRODUCT-START===== */

.product{

    margin-top: 50px;
}

/* form  */
.product__form {
    display: flex;
    justify-content: center;
    align-items:center;
    max-width: 600px;
    margin: auto;
}
.product__input {
    border-radius:10px 0 0 10px;
    font-size: 18px;
    padding: 20px;
    width: 100%;
    border: 1px solid #40BFFF ;
    outline: transparent;
}
.product__btn {
    border-radius:0 10px 10px 0;
    font-size: 18px;
    background-color: #40BFFF;
    border: 1px solid #40BFFF ;
    outline: transparent;
    padding: 20px;

}
@media (max-width:700px) {
    .product__input{
        padding: 10px;
        font-size: 16px;
    }
    .product__btn{
        padding: 10px;
        font-size: 16px;
    }
    
}



/* form  */



/* best  */

.best {
    margin-top: 60px;
}
.best__title {
    text-align: center;
    color: #22262A;
font-size: 35px;
font-weight: 600;
}

/* best  */

/* tab  */


.tab__list {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
}
.tab__item {
    cursor: pointer;
    padding: 8px;
    color: #262626;
    font-size: 22px;
    font-weight: 400;
}
.tab__active{
    color: #33A0FF;
}

@media (max-width:590px) {
    .tab__list{
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        gap: 10px;
        justify-content: start;
    }
    
}

/* tab  */


/* product  */


.products__tab {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}
.product__box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border:1px solid #33a0ffa5 ;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    cursor: pointer;
    padding: 10px;
    max-width: 300px;
    position: relative;
    transition: 2s ease-in-out;
}
.product__img {
    width: 100%;
    margin: auto;
}
.product_hover{
    /* position: absolute; */
    position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 28px;
   visibility: hidden;
    width: 80%;
    height: 220px;
    background-color: #ffffff;
    transition: transform 0.4s ease-in-out;
    z-index: -1;
    transform: scale(0);
}
.product__box:hover .product_hover{
    visibility: visible;  
    margin-top: 28px;
    transform: scale(1);
    z-index: 1;
    
}
.hover__btn{
    text-align: center;
    padding-top: 100px;
}
.like_btn {
    background-color:transparent;
    border: transparent;
    outline: transparent;
}
.material-symbols-outlined {
    cursor: pointer;
}
.like__span {
    padding: 8px;
    border:1px solid #33a0ffa5 ;
    border-radius:50%;
    color:#40BFFF
}
.shop__btn {
    background-color:transparent;
    border: transparent;
    outline: transparent;
}
.shop__span {
    padding: 8px;
    border:1px solid #33a0ffa5;
    border-radius:50%;
    color:#40BFFF
}





.product__content {
    background-color:white;
    position: relative;
    z-index: 4;
}
.product_name {
    padding:10px;
    color:  #223263;
font-size: 18px;
font-weight: 700;
line-height: 150%; /* 27px */
letter-spacing: 0.5px;
}
.tab_price {
    padding:10px
}

.more_btn-box{
   text-align: center;
   padding: 10px;
    
}
.more_btn{
    background-color:transparent;
    border:transparent;
    outline: none;
    margin-top: 50px;
    text-align: center;
    color: #33A0FF;
    font-size: 20px;
    font-weight: 500;
}

/* product  */

/* =====SERVICE-START===== */

.service {
    margin-top: 100px;


}
.service__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;

}

.service__box {
    text-align: center;
}

.service__title {
    text-align: center;
    color: #22262A;
font-size: 27px;
font-weight: 500;
padding-top: 50px;
}
.icon1{
    width: 100px;
}
.icon2{
    width: 68px;
}
.icon3{
    width: 70px;
}
@media (max-width:870px) {
    .service__title {
        text-align: center;
        color: #22262A;
    font-size: 24px;
    font-weight: 500;
    padding-top: 50px;
    }
    .icon1{
        width: 80px;
    }
    .icon2{
        width: 48px;
    }
    .icon3{
        width: 50px;
    }
}


@media (max-width:670px){
    
    .service__container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items:center;
    
    }
}


/* =====SERVICE-END===== */



/* =====FOOTER-START===== */













