

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    object-fit: cover;
}
button{
    cursor: pointer;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    max-width: 1290px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}



/* =====HEADER-START====== */

/* header-top */
.header_top__container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.laguage {
    border: none;
    outline: transparent;
}

.valyuta {
    border: none;
    outline: transparent;
}
.links {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}
.user_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile__link {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.material-symbols-outlined {
    margin-left: 5px;
}
.profile {
    color: black;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #262626;
font-size: 20px;
font-weight: 400;

}
.shop_box  {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__item{
    position: absolute;
    top: 0;

    font-size: 12px;
    background-color: red;
    padding:2px;
    color:white;
    border-radius: 50px;
    margin-right: 5px

}
.price__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop_link {
    color: black;
}

.top__price {
    opacity: 0.5;
    color: #262626;
font-size: 20px;
font-weight: 400;
}

@media (max-width: 600px) {
    .profile{
        display: none;
    }
    .price__box{
        display: none;
    }
    .valyuta{
        display: none;
    }
}

/* header-top */

/* nav  */


.nav__container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 26px;
    padding-bottom: 26px;
}
.burger__btn{
    display: none;
    background-color:transparent;
    border: transparent;
    outline: none;

}
.burger__span{
    color:#40BFFF;
}

.logo_img {
    max-width: 135px;
}
.nav_list {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 70px;
}
.item__link {
    color: #262626;
font-size: 20px;
font-weight: 500;

}
.active__item{
    color: #40BFFF;;

}
@media (max-width:922px) {
    .nav_list{
        gap: 40px;
    }
    .item__link{
        font-size: 16px;
    }
    
}

@media (max-width:666px) {
.burger__btn{
    display: block;
}
.nav_list{
    display: none;
}
.logo_img{
    width: 100px;
}
    
}

/* nav  */

/* ======HEADER-END====== */

/* /=/=/=/=/=//=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/= */
/* =====PRODUCT-START===== */

.hero {
}
.products {
}
.container {
}
.product__box {
display: flex;
justify-content: space-between;
align-items:center
}
.product__img_box {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 30px;
}
.product_img{
    width: 140px;

}
.clear_btn {
}
.img_box {
}
.product_name {
    padding-bottom: 10px;
    color: #262626;
font-size: 18px;
font-weight: 400;
    max-width: 170px;
}
.product_content {
    display: flex;
justify-content: space-between;
align-items:center;
gap: 50px;
}
.content_total {
}
.total_title {
    color: #22262A;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.total_price {
    padding-top: 70px;
}
.product_calc {
}
.calc_title {
    color: #22262A;
font-family: Poppins;
font-size: 20px;
font-weight: 500;
}
.calc_box {
    padding-top: 70px;
}
.minus {
}
.count {
}
.plus {
}
.product_price {
}
.price_title {
    color: #22262A;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.unit_price {
    padding-top: 70px;
    
}


@media ( max-width:690px) {

    .product__box{
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }
}




/* =====FOOTER-START===== */



.footer {
    margin-top: 100px;
    background-color:#BCDDFE;
}
.footer__container {
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* flex-wrap: wrap; */

}
.container {
}
.footer__box {
    max-width: 230px;
    padding: 10px;

}
.footer__text {
    padding: 8px;
    color: #22262A;
font-size: 12px;
font-weight: 400;
}
.footer__title {
    padding: 8px;
    color: #22262A;
font-size: 20px;
font-weight: 700;
}


@media (max-width:750px) {
    .footer__container {
        padding-top: 150px;
        padding-bottom: 200px;
        display: flex;
        /* justify-content: space-between; */
        align-items:center;
        flex-direction: column;
    
    }
    .footer__box {
        max-width: 450px;
    }
}

/* =======FOOTER-END===== */